p{
    text-align: center;
}
.one{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
}
.two{
    margin-top: 3px;
}
.mini{
    text-decoration: underline;
    cursor: pointer;
}